.slider_img {
    display: flex;
    height: 13rem;
    /* padding-left: 5px; */

    margin-bottom: 0%;

}

.slider_iamg {
    width: 100%;
}

@media screen and (min-width: 1000px) {

    .slider_iamg {
        width: 100%;
        padding: 0 6em;
    }
}



.btn_cntr {
    margin: auto;
    width: 10px;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    padding: 3px 1px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

#left {
    position: relative;
    left: -3px;
    padding-left: 10px;
    z-index: 5;
}

#right {
    position: relative;
    left: -21px;
    padding-right: 10px;
    z-index: 5;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    color: green;

}

.select {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.select li {


    padding-right: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    cursor: pointer;
}

.cointainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

#btn1 {
    width: 100%;
    height: 100%;
    background-color: rgb(12, 187, 82);
    padding: 5px 10px;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    right: 1rem;
    top: 50px;
    border-radius: 10px;
    color: white;
    /* box-shadow: 0px 0px 2px 2px rgb(10, 51, 2); */

}



#notvalid {
    color: rgb(174, 10, 10);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
    left: 10px;

}

#btn1:active {
    background-color: black;
    color: white;

}

.h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    color: green;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .select {
        display: flex;
        flex-direction: row;
    }

    #btn1 {
        position: relative;
        right: 1rem;
        top: 5px;
    }

    /* #about-cointainer {
        background-image: url(IMG-20220929-WA0012.jpg);
        background-size: 45rem;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
        opacity: 1;
        position: relative;
        top: 1rem;
    } */


    /* #btn1:hover {
        background-color: #35733a;
        color: white;
        /* transition: 0.7s; 
    } */

}

.carousel-container {
    height: 13rem;
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    /* background: #eee; */
}

#about-cointainer {
    background-color: white;
    background-image: url(IMG-20220929-WA0012.jpg);
    background-size: 45rem;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    opacity: 1;
    position: relative;
    top: 1rem;
}

#about {
    height: 100%;
    width: 100%;

    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.h1 {
    padding: 10px;
    font-size: 40px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    text-overflow: clip;
}