.slider_img {
    display: flex;
    height: 13rem;
    /* padding-left: 5px; */

    margin-bottom: 0%;

}

.slider_iamg {
    width: 100%;
}

@media screen and (min-width: 1000px) {

    .slider_iamg {
        width: 100%;
        padding: 0 6em;
    }
}


.btn_cntr {
    margin: auto;
    width: 10px;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    padding: 3px 1px;
    font-size: 30px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
}

#left {
    position: relative;
    left: -3px;
    padding-left: 10px;
    z-index: 5;
}

#right {
    position: relative;
    left: -21px;
    padding-right: 10px;
    z-index: 5;
}

h2 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    color: green;

}

.select {
    list-style: none;
    display: flex;
    flex-direction: column;

}

.select li {


    padding-right: 35px;
    font-size: 15px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    cursor: pointer;
}

.cointainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0 10px;
}

#btn1 {
    width: 100%;
    height: 100%;
    background-color: rgb(12, 187, 82);
    padding: 2px 17px;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    position: relative;
    right: 1rem;
    top: 50px;
    border-radius: 10px;
    color: white;
    /* box-shadow: 0px 0px 2px 2px rgb(10, 51, 2); */

}



#notvalid {
    color: rgb(174, 10, 10);
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    cursor: pointer;
    position: relative;
    left: 10px;

}

#btn1:active {
    background-color: black;
    color: white;

}

.h2 {
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    color: green;
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .select {
        display: flex;
        flex-direction: row;
    }

    #btn1 {
        position: relative;
        right: 1rem;
        top: 5px;
    }

    /* #about-cointainer {
        background-image: url(IMG-20220929-WA0012.jpg);
        background-size: 45rem;
        background-repeat: no-repeat;
        background-position: center center;
        height: 100%;
        width: 100%;
        opacity: 1;
        position: relative;
        top: 1rem;
    } */

}

.carousel-container {
    height: 13rem;
    display: flex;
    padding: 20px 0;
    overflow: hidden;
    /* background: #eee; */
}

#about-cointainer {
    background-color: white;
    background-image: url(IMG-20220929-WA0012.jpg);
    background-size: 45rem;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    opacity: 1;
    position: relative;
    top: 1rem;
}

#about {
    height: 100%;
    width: 100%;
    color: rgb(0, 0, 0);
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    font-family: sans-serif;
}

.h1 {
    padding: 10px;
    font-size: 25px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    text-overflow: clip;
}


.contactus {
    margin-top: 3rem;
    width: 100%;
}

h4 {
    text-align: center;
    padding: 10px;
    font-size: 30px;
    font-weight: 600;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
    margin-top: 1px;
    text-decoration: underline;
}

.map {
    padding: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(https://media.istockphoto.com/photos/-picture-id1311934969?b=1&k=20&m=1311934969&s=170667a&w=0&h=UQ3F8CE5zam5mT5swIliZ9nO7dhX4ZzsALMufFdv6Ys=);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    opacity: 1;

}

.contact-info {
    color: rgb(0, 0, 0);
    max-width: 500px;
    padding-left: 50px;
    line-height: 65px;
    font-size: 18px;
    cursor: pointer;
}

.contact-info i {
    font-size: 25px;
    margin-right: 10px;
}

.contactform {
    max-width: 750px;
    padding: 10px 10px;
}

.contactform,
.contact-info {
    flex: 1;
}

.contactform .textbox {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: rgb(245, 244, 244);
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    margin-bottom: 10px;
    opacity: 0.9;
}

.contactform .textbox:first-child {
    margin-right: 15px;
}

.contactform textarea {
    background-color: #000;
    border: none;
    border-radius: 5px;
    color: rgb(245, 244, 244);
    width: 100%;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    margin-bottom: 10px;
    opacity: 0.9;
    font-size: 15px;
}

.contactform .sendbtn {
    float: right;
    background-color: rgb(21, 65, 185);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.contactform .sendbtn:active {
    background-color: rgb(12, 5, 104);
}

@media screen and (max-width: 650px) {
    .contact {
        flex-direction: column;
    }

    .contact-info {
        margin-bottom: 20px;
    }

    .contactform .textbox {
        width: 100%;
    }

    .contactform .textbox:first-child {
        margin-right: 0;
    }

    .contact-info i {
        font-size: 15px;

    }

    .contact-info {
        line-height: 35px;
        font-size: 15px;
    }
}

.alert {
    color: rgb(243, 247, 243);
    background-color: rgb(145, 224, 145);
    padding: 10px;
    position: fixed;
    top: 35px;
    right: 0;
    z-index: 1;
    border-left: 10px solid green;
    border-radius: 5px;
    color: black;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
}